GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=your-google-redirect-uri
REDIS_URL=redis://localhost:6379
REDIS_PASSWORD=your-redis-password
SESSION_SECRET=your-session-secret
SESSION_TTL=604800000
PORT=3000
CONFIG_ROOM_SIZE_DEFAULT=0
CONFIG_AUTO_MATCH_DEFAULT=false
ADMIN_EMAILS=admin@example.com
WEB_PORT=5174
ADMIN_PORT=5173
